<!DOCTYPE html>
<html lang="en">
<head>
  <script type='text/javascript' src="/javascript/script.js" defer></script>
  </head>
  <!-- <frame action="" id="test"> -->

  </frame>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="test"></div>
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="location" placeholder="Location">
      <button type="submit" id="save">Save</button>
  </div>
  
</body>
</html>