<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="../javascript/login.js">
  </script>
  <link rel="stylesheet" href="../Stylesheets/login.css">
</head>

<body>
  <section class="backGround">
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="color"></div>
    <div class="box">
</section>
  <div class="container">
    <div class="glassmorphism-box">
      <form id="signInForm">
      
          <h1>Sign In</h1>
          <div class="loginForm">
          <input type="text" id="signInUsername" placeholder="Username" required>
          <input type="password" id="signInPassword" placeholder="Password" required>        
        </div>
        <button id="logIn" type="reset">Sign In</button>
      </form>
    </div>
  </div>
  <img src="https://lh3.google.com/u/0/d/12Cr11GsoI7O20ytMBRR-b6yio4p7wHoz=w1830-h1632-iv1" alt="logo" id="logo">
  <div class="footer" id="foot">
    This is a thesis project. &copy; 2025 by Sariaya Institute. All rights reserved.
</div>
</body>

</html>